.faqs {
    display: grid;
    grid-gap: 10px 10px;
    overflow: visible;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
}

.question {
    border: solid 2px $blue2;
    border-radius: 2px;
    padding: 15px;
    position: relative;

    h4 {
        font-weight: 500;
    }

    p {
        display: none;
    }

    &:hover {
        background-color: $blue1;
        cursor: pointer;
    }
}

.openQ {
    grid-row: span 3;

    p {
        display: block;
        margin-top: 20px;
        width: 100%;
    }
}
