.heading {
    margin-bottom: 30px;

    p {
        color: $blue4;
        margin: 0 !important;
        font-weight: 400;
        font-size: 1em;
    }

    h1 {
        font-family: $serif;
        color: $blue3;
        font-weight: 400;
        border-bottom: 3px solid $red;
        display: inline-block;
        padding-bottom: 5px;
    }
}