.layout {
    .content {
        position: relative;
        padding: 30px 45px;
        margin-left: 200px;
        z-index: 0;
        min-height: 100vh;
    }
}

.navigation {
    list-style: none;

    li {
        display: block;
        margin: 30px 0;
        text-align: center;

        a {
            color: $blue1;
            text-decoration: none;
        }

        .currentPage {
            font-weight: 600;
        }
    }
}

.psudoFooter {
    color: $blue4;
    text-align: center;
    font-size: 0.7rem;

    ul {
        list-style: none;
        margin-top: 15px;

        li {
            display: inline;
            margin: 5px;

            a {
                color: $blue4;
            }

            svg {
                stroke-width: 1.5px;
                height: 18px;
            }
        }
    }

    p {
        margin-top: 10px;
    }
}

// footer {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-around;
//     margin-top: 50px;
//     border-top: 2px solid $blue2;

//     h3 {
//         margin-top: 0;
//     }

//     ul,
//     address,
//     form {
//         flex: 0 0 20%;
//         list-style: none;
//         margin-top: 1em;
//         margin-left: 0 !important;
//         display: inline-block;
//         font-style: normal;

//         li,
//         p {
//             width: 100% !important;
//             margin-bottom: 5px !important;
//         }
//     }

//     address {
//         margin-left: 50px !important;
//         position: relative;

//         .footer-logo {
//             margin-top: 5px;
//             position: absolute;
//             left: -60px;
//         }
//     }

//     form {
//         flex: 1 1 50%;
//         max-width: 500px;
//         min-width: 250px;

//         .name {
//             display: flex;
//             justify-content: space-between;
//         }
//         label {
//             font-size: 0.7em;
//             color: $blue2;
//             flex: 0 1 45%;
//         }
//         input {
//             width: 100%;
//             border: 1px solid $blue3;
//             border-radius: 2px;
//             padding: 5px;
//             font-size: 1rem;
//         }
//     }
// }

.sidemenu {
    background-color: $blue3;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.topmenu {
    position: fixed;
    background-color: $blue3;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
    padding: 10px 30px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

    .homebutton {
        width: 100px;
        display: inline-block;
    }

    .drawer {
        display: inline;
    }

    #menu,
    #close {
        float: right;
        cursor: pointer;
        padding-top: 8px;
        background: inherit;

        svg {
            stroke: $blue1;
        }
    }

    #menu {
        display: inline;
    }

    #close {
        display: none;
    }

    .navigation,
    .psudoFooter {
        display: none;
    }

    img {
        height: 100%;
        width: auto;
    }
}

@media (max-width: 600px) {
    .topmenu {
        display: flex;
    }
    .sidemenu {
        display: none;
    }

    .layout {
        .content {
            position: relative;
            padding: 50px 45px;
            margin-left: 0;
        }
    }
}
