/* COLOURS */
$blue1: #e2eaed;
$blue2: #7fa1c4;
$blue3: #486181;
$blue4: #202e42;
$red: #bf3c43;


/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
$serif: 'Marcellus', serif;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600&display=swap');
$barlow: 'Barlow Condensed', sans-serif;

* {
	border: 0;
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: $barlow;
    color: $blue4;
}

.clearfix {
    overflow: auto;
    clear: both;
    margin-bottom: 60px;
}

// Imports
@import '_menu.scss';
@import './homepage';
@import '_heading.scss';
@import '_cards.scss';
@import '_type.scss';
@import '_forms.scss';
@import '_faqs.scss';